@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --body-font: "Montserrat Alternates", sans-serif;
    --normal-font-size: 0.938rem;
    --font-regular: 400;
    --white-color: #fff;
    --darkest-green-color: #2D332E;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-regular);
    color: var(--white-color);
    height: 100%;
    width: 100%;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-container{
    position: relative;
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box{
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-info{
    padding: 8px 0px;
    margin-bottom: 10px;
}

.login-info h1{
    padding: 8px 0px;
    margin-bottom: 10px;
    font-size: 35px;
}

.right-container{
    position: relative;
    width: 60vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastro-box{
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cadastro-info{
    padding: 8px 0px;
    margin-bottom: 10px;
}

.cadastro-info h1{
    padding: 8px 0px;
    margin-bottom: 10px;
    font-size: 35px;
}

.textfield{
    position: relative;
    padding: 20px 0px;
    padding-top: 13px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.textfield input{
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(16, 199, 16) ;
    display: inline-block;
    width: 100%;
    padding: 5px 5px;
    font-size: 16px;
    color: var(--white-color);
    transition: all .3s ease-in-out;
}

.textfield input:focus{
    background-color: transparent;
    border-bottom: 2px solid rgb(8, 122, 8);
}

.textfield label{
    color: rgb(16, 199, 16);
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-in-out;
}

.textfield input:focus + label,
.textfield input:valid + label{
    font-size: 13px;
    margin-top: 0px;
    color: rgb(8, 122, 8);
}

.textfield ion-icon{
    position: absolute;
    color: rgb(8, 122, 8);
    right: 8px;
}

.textfield3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.textfield3 input[type="submit"]{
    border: 2px solid rgb(0, 176, 0);
    border-radius: 20px;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--white-color);
    width: 150px;
    height: 50px;
    background: none;
    cursor: pointer;
}

.textfield3 input[type="submit"]:hover{
    border: none;
    background:linear-gradient(rgb(3, 58, 3), rgb(0, 176, 0));
}

.right-container{
    position: relative;
    width: 50vw;
    height: 100vh;
}

.background{
    left: 50%;
    position: absolute;
    background: url(backgroud-login.jpg);
    background-size: cover;
    height: 100%;
    width: 50%;
    transition: ease-in-out .5s;
}

.cadastrar{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(0, 176, 0);
    border-radius: 50%;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--white-color);
    width: 50px;
    height: 50px;
    background: none;
    cursor: pointer;
}